{
    "api_token": "",
    "gmap_key": "",
    "port": 4000,
    "mongodb": "mongodb://localhost/pogobot",
    "watchlist": [
        "Venusaur",
        "Blastoise",
        "Charizard",
        "Dragonite"
    ]
}
